{{ define "content" }}

 <!-- WELCOME
    ================================================== -->
    <section data-jarallax data-speed=".8" class="pt-10 pt-md-12 pb-10 pb-md-12 bg-cover jarallax" style="margin-top: -83px;">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-7 text-center">

            <!-- Headin -->
            <h1 class="display-4 text-center">
              Blog
            </h1>

            <!-- Text -->
            <p class="lead mb-7 text-center text-muted">
             Weekly updates from our pastor and other leaders
            </p>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>


    <!-- CONTENT
    ================================================== -->
    <section class="py-8 py-md-11 mt-n10 mt-md-n14">
      <div class="container">
        <div class="row" id="leader" data-aos="fade-up" data-aos-delay="100" data-isotope='{"layoutMode": "masonry"}'>
          {{ range .Pages }}
          {{ $image := .Date.Format "2006-01-02"}}
           {{ $monday := .Date.Format "Jan 02"}}
          <div class="col-12 col-md-4 text-center">

            <!-- Card -->
            <a class="card shadow-light-lg mb-7" href="{{.Permalink}}">

              <!-- Image -->
          <!-- Image -->
          <div class="card-zoom mt-7">
            <i class="fas fa-pen fa-5x text-muted"></i>
          </div>
              


              <!-- Overlay -->
                <div class="card-body bg-white">

                  <!-- Shape -->
                  <div class="shape shape-bottom-100 shape-fluid-x svg-shim text-white">
                    <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"/>
                    </svg>
                  </div>

                  <!-- Preheading -->
                  <h6 class="text-uppercase mb-1 text-muted">
              {{- range .Params.people }}
                {{- with $.Site.GetPage "taxonomyTerm" (printf "people/%s" (urlize .)) }}
                {{.Title}}
                {{ end }}
              {{ end }}
                  </h6>

                  <!-- Heading -->
                  <h4 class="mb-0">{{.Title}}</h4>
                  <h6 class="text-muted">
                    {{$monday}}
                  </h6>

                </div>

            </a>
          </div>
          {{end}}


        </div>
      </div>
    </section>

    <!-- SHAPE
    ================================================== -->
    <div class="position-relative">
      <div class="shape shape-bottom shape-fluid-x svg-shim text-gray-200">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"/>
        </svg>
      </div>
    </div>

{{ end }}