{{ define "content" }}

    <section class="py-8 py-md-11">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-8 text-center">
            
            <!-- Badge -->
            <span class="badge badge-pill badge-primary-desat-soft mb-3">
              <span class="h6 text-uppercase">{{ .Title }}</span>
            </span>

            <!-- Heading -->
            <h2>
             Church Center is available for download on both <span class="font-weight-bold text-primary-desat">Android</span> and <span class="font-weight-bold text-primary-desat">iOS</span>.
            </h2>

            <!-- Text -->
            <p class="font-size-lg text-muted mb-7 mb-md-9">
              Connect with First Baptist Muncie through Church Center mobile app and web experience—an online space where you can explore, engage, and get involved throughout the week.
            </p>

            <p class="font-size-lg text-muted mb-7 mb-md-9">
              This app is free and the information is secure to only those inside of the First Baptist family.
            </p>

            <a href="https://play.google.com/store/apps/details?id=com.ministrycentered.churchcenter&hl=en_US"><img src="/images/google-play.svg"></a>

            <a href="https://apps.apple.com/us/app/church-center-app/id1357742931"><img src="/images/ios-app.svg"></a>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>



{{ end }}

