{{ define "content" }}

    <section class="pt-4 pt-md-11 mb-md-11">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-md-5 col-lg-6 order-md-2">

            <!-- Image -->
            <img src="/images/{{.Params.picture}}" class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0" alt="{{.Title}}" data-aos="fade-up" data-aos-delay="100">

          </div>
          <div class="col-12 col-md-7 col-lg-6 order-md-1" data-aos="fade-up">

            <!-- Heading -->
            <h1 class="display-3 text-center text-md-left">
              {{ .Title }}
            </h1>

            <!-- Text -->
            <p class="lead text-center text-md-left text-muted mb-6 mb-lg-8">
              {{.Description}}
            </p>

            <p class="mb-8 mb-lg-10">{{ .Content }}</p>

            
            <!-- Buttons -->
            <div class="text-center text-md-lef mt-8 mb-2">
              <a href="{{.Params.buttonlink}}" class="btn btn-success-soft">
                {{.Params.buttontext}} <i class="fe fe-arrow-right d-none d-md-inline ml-"></i>
              </a>
            </div>

            <div class="text-center text-md-lef mt-2 mb-10">
              <a href="{{.Params.audiolink}}" class="btn btn-success-soft">
                {{.Params.audiotext}} <i class="fe fe-arrow-right d-none d-md-inline ml-3"></i>
              </a>
            </div>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

{{ end }}
