{{ define "content" }}

 <!-- WELCOME
    ================================================== -->
    <section data-jarallax data-speed=".8" class="pt-10 pt-md-12 pb-10 pb-md-12 bg-cover jarallax" style="margin-top: -83px;">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-7 text-center">

            <!-- Headin -->
            <h1 class="display-4 text-center">
              Worship Schedule
            </h1>

            <!-- Text -->
            <p class="lead mb-7 text-center text-muted">
              Join us for Worship at First Baptist
            </p>

            {{ partial "times" . }}

            <p>{{ .Content }}</p>

            
                <div class="container mt-8 mb-5">
                  <div class="row">
                    <div class="col text-center">
                      <a href="https://fbcmuncie.churchcenter.com/channels/4999"><button class="btn btn-success-soft">Watch Worship Services</button></a>
                    </div>
                  </div>
                </div>

                <div class="container mt-8 mb-5">
                  <div class="row">
                    <div class="col text-center">
                      <a href="https://fbcmuncie.churchcenter.com/pages/home"><button class="btn btn-success-soft">Worship This Week</button></a>
                    </div>
                  </div>
                </div>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>




    <!-- SHAPE
    ================================================== -->
    <div class="position-relative">
      <div class="shape shape-bottom shape-fluid-x svg-shim text-gray-200">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"/>
        </svg>
      </div>
    </div>

{{ end }}
