{{ define "content" }}

    <section class="pt-8 pt-md-11">
      <div class="container">
        <div class="row align-items-center justify-content-between mb-8 mb-md-11">
          <div class="col-12 col-md-6 order-md-2" data-aos="fade-left">

            <!-- Heading -->
            <h2>
              {{.Title}}<br>
              <span class="text-success">{{.Params.position}}</span>
            </h2>

            <!-- Text -->
            <p class="font-size-lg text-muted mb-6">
              {{.Content}}
            </p>
          </div>

          <div class="col-12 col-md-6 col-lg-5 order-md-1" data-aos="fade-right">

              {{$slug := .Title | urlize }}
                {{$picturepath := $slug | printf "/images/people/%s.jpg"}}

                {{ $directory := "static/images/people" }}
                {{ $filename := $slug | printf "%s.jpg" }}
                {{ if (where (readDir $directory) "Name" $filename) }}
              <!-- Image -->
              <img src="/images/people/{{$filename}}" alt="..." class="card-img-top">
              {{else}}
              <img src="/images/blank.png" alt="..." class="card-img-top">
              {{end}}
          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>


       <!-- SECTION
    ================================================== -->
    <section class="pt-6 pt-md-8 pb-3 pb-md-5">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-9 col-xl-8">

            <!-- Meta -->
            <div class="row align-items-center py-5 border-top border-bottom">
              <div class="col-auto">


              </div>
              <div class="col ml-n5">


              </div>
              <div class="col-auto">

                {{ if or (.Params.twitter) (.Params.facebook) (.Params.instagram) }}
                <!-- Share -->
                <span class="h6 text-uppercase text-muted d-none d-md-inline mr-4">
                  Social Media:
                </span>

                <!-- Icons -->
                <ul class="d-inline list-unstyled list-inline list-social">
                  {{ if .Params.twitter }}
                  <li class="list-inline-item list-social-item mr-3">
                    <a href="https://twitter.com/{{.Params.twitter}}" class="text-decoration-none">
                      <img src="/images/icons/social/twitter.svg" class="list-social-icon" alt="...">
                    </a>
                  </li>
                  {{ end }}
                  {{ if .Params.facebook }}
                  <li class="list-inline-item list-social-item mr-3">
                    <a href="https://www.facebook.com/{{.Params.facebook}}" class="text-decoration-none">
                      <img src="/images/icons/social/facebook.svg" class="list-social-icon" alt="...">
                    </a>
                  </li>
                  {{end}}
                  {{ if .Params.instagram }}
                  <li class="list-inline-item list-social-item mr-3">
                    <a href="https://www.instagram.com/{{.Params.instagram}}" class="text-decoration-none">
                      <img src="/images/icons/social/instagram.svg" class="list-social-icon" alt="...">
                    </a>
                  </li>
                  {{end}}
                </ul>

                {{end}}

              </div>
            </div>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>





{{ end }}