<div class="alert alert-dark alert-dismissible fade show" role="alert">
  <a href="/live" class="alert-link">Next Live Stream</a> will be on <strong>Mother's Day</strong>. Plan to tune in <a href="/live" class="alert-link">live</a> at <strong>10:45 AM</strong> on <strong>Sunday, May 10</strong>. Access recorded videos for all other Sundays on the <a href="/video" class="alert-link">video pages</a>.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

