<!-- Card -->
<div class="card shadow-light-lg mb-5">
<div class="card-body">
  
  <!-- Heading -->
  <h4>
    Book Available
  </h4>

  <!-- Text -->
  <p class="font-size-sm text-gray-800 mb-5">
    This history is provided by Dr. William Eidson, member of First Baptist Church and retired history professor at Ball State University. Bill has also written a book titled Journey Down Jefferson Street and is available upon request. Contact us for more information.
  </p>

    <!-- Heading -->
    <a href="/contact" class="font-weight-bold font-size-sm text-decoration-none">
      Contact Us <i class="fe fe-arrow-right ml-3"></i>
    </a>

</div>
</div>