
    <section>
      <div class="container d-flex flex-column">
        <div class="row align-items-center min-vh-100 py-8 py-md-11">
          <div class="col-12">
            <div class="row align-items-center justify-content-between mb-8 mb-md-11">
              <div class="col-12 col-md-6">

                <!-- Preheading -->
                <h6 class="text-uppercase text-primary font-weight-bold">
                  Updates in light of
                </h6>

                <!-- Heading -->
                <h2>
                  COVID-19
                </h2>

                <!-- Text -->
                <p class="lead text-muted mb-6 mb-md-0">
                  In this unprecedented time, we are working hard to keep the First Baptist family safe and loved. Here are several ways that you can be involved during this season of social distancing.
                </p>

              </div>
              <div class="col-12 col-md-6 col-xl-5">

                <div class="row no-gutters">
                  <div class="col-4">

                    <!-- Image -->
                    <div class="w-150 mt-9 p-1 bg-white shadow-lg" data-aos="fade-up" data-aos-delay="100">
                      <img src="/images/photos/photo-201.jpg" class="img-fluid" alt="...">
                    </div>

                  </div>
                  <div class="col-4">

                    <!-- Image -->
                    <div class="w-150 p-1 bg-white shadow-lg" data-aos="fade-up">
                      <img src="/images/photos/photo-202.jpg" class="img-fluid" alt="...">
                    </div>

                  </div>
                  <div class="col-4 position-relative">

                    <!-- Image -->
                    <div class="w-150 mt-11 float-right p-1 bg-white shadow-lg" data-aos="fade-up" data-aos-delay="150">
                      <img src="/images/photos/photo-200.jpg" class="img-fluid" alt="...">
                    </div>

                  </div>
                </div> <!-- / .row -->

              </div>
            </div> <!-- / .row -->
            <div class="row">
              <div class="col-12 col-md-4">
                <div class="row">
                  <div class="col-auto col-md-12">

                    <!-- Step -->
                    <div class="row no-gutters align-items-center mb-md-5">
                      <div class="col-auto">

                        <a href="#!" class="btn btn-sm btn-rounded-circle btn-gray-400 disabled opacity-1">
                          <span class="fas fa-phone-volume"></span>
                        </a>

                      </div>
                      <div class="col">

                        <hr class="d-none d-md-block w-130">

                      </div>
                    </div> <!-- / .row -->

                  </div>
                  <div class="col col-md-12 ml-n5 ml-md-0">

                    <!-- Heading -->
                    <h3>
                      Phone Calls
                    </h3>

                    <!-- Text -->
                    <p class="text-muted mb-6 mb-md-0">
            We encourage you to call and check on those that you know and love. A team of people from First Baptist is calling shut-ins and active members each week to check on them, inform them of updates, and pray with them.
                    </p>

                  </div>
                </div> <!-- / .row -->
              </div>
              <div class="col-12 col-md-4">
                <div class="row">
                  <div class="col-auto col-md-12">

                    <!-- Step -->
                    <div class="row no-gutters align-items-center mb-md-5">
                      <div class="col-auto">

                        <a href="#!" class="btn btn-sm btn-rounded-circle btn-gray-400 disabled opacity-1">
                          <span class="fab fa-youtube"></span>
                        </a>

                      </div>
                      <div class="col">

                        <hr class="d-none d-md-block w-130">

                      </div>
                    </div> <!-- / .row -->

                  </div>
                  <div class="col col-md-12 ml-n5 ml-md-0">

                    <!-- Heading -->
                    <h3>
                      YouTube Channel
                    </h3>

                    <!-- Text -->
                    <p class="text-muted mb-6 mb-md-0">
                      Videos are being provided each week on the church YouTube channel. Sermons, music, children's Sunday school lessons and more. Be sure to <a href="https://www.youtube.com/c/fbcmuncieorg">subscribe</a> for up to date information.
                    </p>

                  </div>
                </div> <!-- / .row -->
              </div>
              <div class="col-12 col-md-4">
                <div class="row">
                  <div class="col-auto col-md-12">

                    <!-- Step -->
                    <div class="row no-gutters align-items-center mb-md-5">
                      <div class="col-auto">

                        <a href="#!" class="btn btn-sm btn-rounded-circle btn-gray-400 disabled opacity-1">
                          <span class="fab fa-facebook"></span>
                        </a>

                      </div>
                    </div> <!-- / .row -->

                  </div>
                  <div class="col col-md-12 ml-n5 ml-md-0">

                    <!-- Heading -->
                    <h3>
                      Facebook Live Prayer
                    </h3>

                    <!-- Text -->
                    <p class="text-muted mb-0">
                      Each Wednesday at 7 PM, join us for virtual prayer group on the <a href="https://www.facebook.com/firstbaptistmuncie">church Facebook page</a>.
                    </p>

                  </div>
                </div> <!-- / .row -->
              </div>
            </div> <!-- / .row -->
          </div>
        </div>
      </div> <!-- / .container -->
    </section>


        <section class="pt-6 pt-md-8">
      <div class="container pb-6 pb-md-8 border-bottom">
        <div class="row align-items-center">
          <div class="col-12 col-md">
            
            <!-- Heading -->
            <h3 class="font-weight-bold mb-1">
              Blog Updates
            </h3>

            <!-- Text -->
            <p class="font-size-lg text-muted mb-6 mb-md-0">
              All CCT updates during this season will be posted on the <a href="/blog">blog</a>.
            </p>

          </div>
          <div class="col-12 col-md-auto">
                

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>