   <section class="py-8 py-md-11">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-md-6 col-lg-5" data-aos="fade-up">
            
            <!-- Badge -->
            <span class="badge badge-pill badge-success-soft mb-3">
              <span class="h6 text-uppercase">Events</span>
            </span>

            <!-- Heading -->
            <h2 class="font-weight-bold">
              What's Going On <br>
              <span class="text-success">at First Baptist Church</span>
            </h2>

            <!-- Text -->
            <p class="font-size-lg text-gray-700">
              Check out all that is happening in and around First Baptist in Muncie.
            </p>

             <form class="mb-8">
              <div class="form-row">
                <div class="col-12 col-md">
                  

                </div>
                <div class="col-12 col-md-auto">
                  
                  <!-- Submit -->
                  <a href="/events" class="btn btn-success-soft">Upcoming Events</a>

                </div>
              </div>
            </form>

          </div>

{{ partial "weekly-events" . }}

        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>