<!-- We gather for worship at 9:15 AM and 10:45 AM -->

<!-- During this season, we will be meeting in one service at <strong>10:45 AM</strong> (<a href="/blog/2020/07/27/covid-19-update-july-27th/" class="text-gray-600">read more</a>). Please visit our <a href="https://www.youtube.com/c/fbcmuncieorg" class="text-gray-600">YouTube channel</a> for videos and live stream of each service. -->

For the next several weeks, we will not be meeting in person. We will have a live stream service beginning at <strong>10:45 AM</strong>  Please visit our <a href="https://www.youtube.com/c/fbcmuncieorg" class="text-gray-600">YouTube channel</a> for videos and live stream of each service.