    <!-- Videos
    ================================================== -->
    <section class="pt-8 pt-md-11 bg-gradient-light">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-8 text-center">

            <!-- Badge -->
            <span class="badge badge-pill badge-primary-soft mb-3">
              <span class="h6 text-uppercase">An Online Glimpse</span>
            </span>

            <!-- Heading -->
            <h1>
              Live Streams
            </h1>
            <!-- Text -->
            <p class="font-size-lg text-gray-700 mb-7 mb-md-9">
              Access live stream videos
            </p>
                <div class="container mt-8 mb-5">
                  <div class="row">
                    <div class="col text-center">
                      <a href="https://fbcmuncie.churchcenter.com/channels/4999"><button class="btn btn-success-soft">Watch Worship Services</button></a>
                    </div>
                  </div>
                </div>

              <!-- Heading -->
                <h1>
                  Guest Booklet PDF
                </h1>

                <!-- Text -->
                <p class="font-size-lg text-gray-700 mb-7 mb-md-9">
                  View our guest booklet with introductions to our ministry and working links.
                </p>
                    <div class="container mt-8 mb-5">
                      <div class="row">
                        <div class="col text-center">
                          <a href="http://files.fbcmuncie.org.s3.amazonaws.com/Guest%20Booklet%20-%20Web%20Edition-1.pdf"><button class="btn btn-success-soft">Download PDF</button></a>
                        </div>
                      </div>
                    </div>
        </div> <!-- / .row -->
                <div class="col-12">
                  <!-- Divider -->
                  <hr class="my-6 my-md-8 border-gray-300">
                </div>
      </div> <!-- / .container -->
    </section>
