   <!-- WELCOME
    ================================================== -->
    <section class="py-8 py-md-11 border-bottom">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-8 text-center">

        
            <!-- Text -->
            <p class="lead mb-7 mb-md-9">
              A Spirit-led people gathered to discover and join God's presence in our communities
            </p>

          </div>
        </div> <!-- / .row -->
        <div class="row">
          <div class="col-12">
            
            <!-- Image -->
            <div class="form-row">
              <div class="col-4">
                
                <img src="/images/church-front.jpg" class="img-fluid rounded shadow-lg" alt="...">

              </div>
              <div class="col-3">

                <img src="/images/baby_dedication.jpg" class="img-fluid rounded shadow-lg mb-4" alt="...">

                <img src="/images/reach-week.jpg" class="img-fluid rounded shadow-lg mt-1" alt="...">

              </div>
              <div class="col-5">

                <div class="form-row mb-4">
                  <div class="col-5">
                    
                    <img src="/images/socks-h.jpg" class="img-fluid rounded shadow-lg" alt="...">

                  </div>
                  <div class="col-7">
                    
                    <img src="/images/table.jpg" class="img-fluid rounded shadow-lg" alt="...">

                  </div>
                </div> <!-- / .row -->

                <img src="/images/hayride.jpg" class="img-fluid rounded shadow-lg mt-1" alt="...">

              </div>
            </div>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

