    <!-- Join us for Worship
    ================================================== -->
    <section data-jarallax data-speed=".8" class="py-12 py-md-14 overlay overlay-black overlay-80 jarallax" style="background-image: url(/images/church/sanctuary.jpg);">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-1- col-lg-8 text-center">
            
            <!-- Heading -->
            <h1 class="text-white">
              Join us for worship
            </h1>

            <!-- Text -->
            <p class="font-size-lg text-white-80 mb-6 mb-md-8">
              {{partial "times"}}
            </p>

<!--             <div class="embed-responsive embed-responsive-16by9 mb-10">

            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_97moRKbs8Y" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

            </div> -->

            <!-- Button -->
            <a href="/worship" class="btn btn-pill btn-primary lift">
             Worship Schedule<i class="fe fe-arrow-right ml-2"></i>
            </a>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>