<!-- Grid -->
<div class="form-row mt-10 mb-10">
  <div class="col-6">

    <!-- Image -->
    <a class="d-block lift lift-lg" data-fancybox data-width="1280" data-height="1920" href="/images/{{ index .Params 0 }}">
      <img src="/images/{{ index .Params 0 }}" alt="..." class="img-fluid rounded">
    </a>

  </div>
  <div class="col-6">

    <!-- Image -->
    <a class="d-block mb-4 lift lift-lg" data-fancybox data-width="900" data-height="600" href="/images/{{ index .Params 1 }}">
      <img src="/images/{{ index .Params 1 }}" alt="..." class="img-fluid rounded">
    </a>

    <!-- Image -->
    <a class="d-block lift lift-lg" data-fancybox data-width="900" data-height="600" href="/images/{{ index .Params 2 }}">
      <img src="/images/{{ index .Params 2 }}" alt="..." class="img-fluid rounded">
    </a>

  </div>
</div> <!-- / .row -->